{% extends 'base.html' %}

{% block title %}{{ animal.animal_name}}{% endblock %}

{% block content %}

    <center><h1>{{ animal.animal_name }}</h1></center><hr><br>
{#    Вид животного: {{ animal.animal_type }}<br>#}
{#    Имя животного: {{ animal.animal_name }}<br>#}
{#    <br>#}
{#    Фото животного<br>#}
{#    <img src="{{ animal.animal_photo }}" alt="Фото животного не найдено">#}
    <table border="1" cellpadding="5">
    <tr>
        <th>Вид животного</th>
        <th>{{ animal.animal_type }}</th>
    </tr>
    <tr>
        <th>Имя животного</th>
        <th>{{ animal.animal_name }}</th>
    </tr>
    <tr>
        <th>Фото животного</th>
        <th><img src="{{ animal.animal_photo }}" alt="Фото животного не найдено"></th>
    </tr>
    </table>
    <br>
    <form action="{% url 'App:leave_review' animal.id %}" method="post">
    {% csrf_token %}
    <input type="text" required placeholder="Имя" name="name"><br>
    <textarea name="text" required="" placeholder="Текст отзыва" cols="30" rows="10"></textarea>
    <button type="submit">Отправить отзыв</button>

    </form><hr>

    {% if review_list %}
        <table border="1" cellpadding="5">
        <tr>
            <th>Автор</th>
            <th>Отзыв</th>
        </tr>
        {% for r in review_list %}
            <tr>
            <th>{{ r.author }}</th>
            <th>{{ r.review_text }}</th>
            </tr>
        {% endfor %}
        </table>
    {% else %}
    Отзывы не найдены! Оставьте первый!
    {% endif %}

    <hr><br>
    <a href="/">Назад</a>

{% endblock %}
